<section>
    <header>
        <h3>Nosotros</h3>
    </header>
    <div>
        {{ contenido }}
    </div>
    <link rel="stylesheet" href="/assets/frontend/css/historia.css">  
    <div class="box">
      <figure>
          <a href="">
              <img src="/assets/frontend/img/perrito2_.jpeg" alt="logo">
          </a>
      </figure>
     <p class="parrafo-1">

        Había una vez un pequeño perrito llamado Byte, que vivía en un tranquilo vecindario. A diferencia de otros perros, a Byte le encantaba pasar horas frente a su computadora, escribiendo código y resolviendo problemas. Su pasión por la programación era insaciable.
        <br>
        Un día, mientras navegaba por Internet, Byte descubrió una aplicación llamada “DogCoin”. Era una criptomoneda especialmente diseñada para perros. Intrigado, decidió minar DogCoins utilizando su habilidad para programar. Después de semanas de trabajo arduo, Byte acumuló una gran cantidad de DogCoins.
        <br>
        Pero Byte no se detuvo allí. Utilizó sus conocimientos para crear una aplicación de seguimiento de mascotas llamada “PawTracker”. La aplicación permitía a los dueños de perros rastrear la actividad física y la salud de sus peludos amigos. Pronto, PawTracker se volvió increíblemente popular y comenzó a generar ingresos.
        <br>
        Con sus DogCoins y las ganancias de PawTracker, Byte se convirtió en el perrito más rico del vecindario. Compró una casa espaciosa con un jardín enorme para jugar y correr. También contrató a otros perros programadores para ayudarlo a expandir su imperio tecnológico.
        <br>
        La fama de Byte se extendió más allá del vecindario. Las revistas de negocios escribieron sobre su éxito y lo apodaron el “Canino Código”. Byte apareció en programas de televisión y dio charlas en conferencias de tecnología. Incluso diseñó una línea de ropa para perros geeks llamada “ByteWear”.
        <br>
        A pesar de su riqueza y fama, Byte seguía siendo un perrito humilde. Siempre llevaba su collar con una pequeña placa que decía: “Código es mi mejor amigo”. A menudo visitaba refugios de animales y donaba parte de sus ganancias para ayudar a otros perros necesitados.
        <br>
        Y así, el pequeño perrito programador, Byte, demostró que con determinación, creatividad y un poco de código, incluso los sueños más inverosímiles pueden hacerse realidad. Y vivieron felices para siempre, rodeados de líneas de código y DogCoins.
     </p>

  </div>
</section>